@charset 'UTF-8';


.leaflet-popup-content h1 {
	font-size: 2em;
}

.leaflet-popup-content i {
	margin-top: 1em;
	}	
.leaflet-popup-content .fa-stack i {
	margin: 0;
}



.search-input {
	font-size:10pt;
}

.leaflet-control {
	z-index: -10 !important;
}

.layer-control-img {
	height: 32px;
  vertical-align: text-top;
  margin: 0 5px;
}


#socialweb a, a:hover {
	border-bottom: none;
}

.leaflet-fusesearch-panel .content {
	height: auto;
	max-height:100%;
}
.leaflet-fusesearch-panel.visible {
	height:100%;
	overflow-y: scroll;
}

.leaflet-fusesearch-panel .search-image {
	width: 0;
	height:0;
}

.leaflet-fusesearch-panel .search-input {
	position:static;
	width:85%;
}

.leaflet-control a {
	padding:4px;
	color: #000;
}

.tt-suggestion {
}

.tt-suggestion .icon  {
	display: inline-block;
	float:left;
}

.tt-suggestion img {

	height: 32px;
	vertical-align: text-top;
	margin: 0 5px;
}

.tt-suggestion .suggest {
}

.twitter-typeahead .form-control {
	width: 300px;
}

.twitter-typeahead #searchbox {
	width: 300px;
}

#socialweb {
	margin: 1em 0;
}


