<nav class="navbar navbar-default col-lg-2 col-md-12">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="temp">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="/images/logo.png">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/#"><i class="fa fa-cart-plus"></i>&nbsp;&nbsp;Fair einkaufen</a></li>
        <li><a href="#"><i class="fa fa-university"></i>&nbsp;&nbsp;Über</a></li>
        <li><a href="#"><i class="fa fa-list "></i>&nbsp;&nbsp;POI List</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-square-o"></i>&nbsp;&nbsp;Bezirke <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/bezirke/mitte">Mitte</a></li>
              <li><a href="/bezirke/friedrichshain-kreuzberg">Friedrichshain-Kreuzberg</a></li>
              <li><a href="/bezirke/pankow">Pankow</a></li>
              <li><a href="/bezirke/charlottenburg-wilmersdorf">Charlottenburg-Wilmersdorf</a></li>
              <li><a href="/bezirke/spandau">Spandau</a></li>
              <li><a href="/bezirke/steglitz-zehlendorf">Steglitz-Zehlendorf</a></li>
              <li><a href="/bezirke/tempelhof-schoeneberg">Tempelhof-Schöneberg</a></li>
              <li><a href="/bezirke/neukoelln">Neukölln</a></li>
              <li><a href="/bezirke/treptow-koepenick">Treptow-Köpenick</a></li>
              <li><a href="/bezirke/marzahn-hellersdorf">Marzahn-Hellersdorf</a></li>
              <li><a href="/bezirke/lichtenberg">Lichtenberg</a></li>
              <li><a href="/bezirke/reinickendorf">Reinickendorf</a></li>
          </ul>
        </li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>  










    
                 